<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.garagenearme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gregistration" />
        <activity android:name=".vehiclemain" />
        <activity android:name=".passkey" />
        <activity android:name=".admina" />
        <activity android:name=".Garage" />
        <activity android:name=".retreive" />
        <activity android:name=".Finalist" />
        <activity android:name=".Abhi" />
        <activity android:name=".Numbers" />
        <activity android:name=".FinalNumbers" />
        <activity android:name=".Team"></activity>
    </application>

</manifest>